<ion-header>
  <ion-navbar color="primary" >
    <ion-title>Post</ion-title>
    <ion-buttons end>

      <ion-badge>{{status}} </ion-badge>

      <button ion-button icon-only clear >
        <ion-icon name="eye"></ion-icon>
        Preview</button>
      <button ion-button (click)="publish()" *ngIf="status==='Draft'" >{{StatMon}}</button>
      <button ion-button (click)="Unpublish()" *ngIf="status==='Published'" >{{StatMon}}</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col col-8  >

  <ion-item>
    <h1>{{pName}}</h1>
  </ion-item>

  <ion-item>
    <h3 item-start >{{authName}}</h3>
    <h3 item-end >{{time | date:'medium' }}</h3>
  </ion-item>
  <ion-card *ngIf="postView.length" >
    <ion-card-content>
        <p *ngFor="let p of postView" [class]="p.Stle" > {{p.Data }}  </p>
    </ion-card-content>
  </ion-card>
  
  <button ion-button class="rightBtn" (click)="showAddBtn()" *ngIf="!showAdd" >Add Content</button>
  
</ion-col>




<ion-col col-4>
    <ion-card *ngIf="showAdd" >
        <ion-card-content>
      
        <ion-grid>
          <ion-row>
            <ion-col col-4 push-8 >
              <ion-item>
              <ion-label floating>Style</ion-label>
              <ion-select [(ngModel)]="stle">
                <ion-option value="head1">Heading 1</ion-option>
                <ion-option value="head2">Heading 2</ion-option>
                <ion-option value="head3">Heading 3</ion-option>
              </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-item>
        <ion-label floating>Content</ion-label>
        <ion-textarea [(ngModel)]="contnt" (keyup.enter)="testData()" autofocus ></ion-textarea>
        </ion-item>
        
        <div class="rightBtn" padding-top margin-top >
          <button ion-button item-end color="light" (click)="hideAddBtn()">Cancel</button>
          <button ion-button item-end color="primary" (click)="testData()">Confirm</button>
        </div>
      </ion-card-content>
      </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>