<ion-header>
  <ion-navbar color="primary" >
    <ion-title>Post Title</ion-title>
    <ion-buttons end>
      <button ion-button clear (click)="close()">Cancel</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>

<ion-slides>
  <ion-slide>
  <ion-card>
  <ion-card-content>
  <ion-item>
    <ion-label floating>Title</ion-label>
    <ion-input type="text" (keyup.enter)="checkData()" [(ngModel)]="title" autofocus></ion-input>
  </ion-item>

  <ion-item *ngIf="selCats" >
    <ion-badge margin-right class="cats"   *ngFor="let c of selCats; let i = index">{{c.Name}} 
      <ion-icon name="close" padding-left (click)="rmCat(c,i)"></ion-icon>
    </ion-badge>
  </ion-item>



  <ion-item>
    <ion-badge margin-right class="cats" color="light" (click)="addCat(cat,i)"  *ngFor="let cat of cats; let i = index">{{cat.Name}}</ion-badge>
  </ion-item>


  <button ion-button padding margin-top (click)="checkData()">Create Post</button>


  </ion-card-content>
  </ion-card>
</ion-slide>
</ion-slides>

</ion-content>
