<ion-header>
  <ion-navbar color="primary" >
    <ion-title>postView</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col col-8>
        


        <a href="https://www.google.com"><p>Google</p></a>



        
      </ion-col>
      <ion-col col-4>

        <ion-row>
          <ion-col col-6 (click)="btnbool = true;" >
            <ion-card>
              <ion-card-content>
                Add Button
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col col-6 (click)="linkbool = true;" >
            <ion-card>
              <ion-card-content>
                Add Link
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col col-6 (click)="codebool = true;" >
            <ion-card>
              <ion-card-content>
                Add Code
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="btnbool" >
          <ion-item>  
            <ion-input type="text" [(ngModel)]="btnText" class="smallIn" ></ion-input>
          </ion-item>
            <button ion-button color="light" (click)="cancel();btnbool = false;" >Cancel</button>
            <button ion-button color="primary" (click)="addBtn()" >Add</button>
        </ion-row>

        <ion-row *ngIf="linkbool" >
          <ion-item>  
            <ion-label floating>Link Name</ion-label>
            <ion-input type="text" [(ngModel)]="linkText" class="smallIn" ></ion-input>
          </ion-item>
          <ion-item>  
            <ion-label floating>Link Url</ion-label>
            <ion-input type="text" [(ngModel)]="linkLink" class="smallIn" ></ion-input>
          </ion-item>
          <ion-item>
              <ion-label>External Link</ion-label>
              <ion-checkbox [(ngModel)]="linkextr"></ion-checkbox>
          </ion-item>
          <button ion-button color="light" (click)="cancel();linkbool = false;" >Cancel</button>
          <button ion-button color="primary" (click)="addLink()" >Add</button>
        </ion-row>

        <ion-row *ngIf="codebool" >
          <ion-item>  
            <ion-input type="text" [(ngModel)]="codeText" class="smallIn" ></ion-input>
          </ion-item>
            <button ion-button color="light" (click)="cancel();codebool = false;" >Cancel</button>
            <button ion-button color="primary" (click)="addCode()" >Add</button>
        </ion-row>


      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
